<a href="https://colab.research.google.com/github/VaasuDevanS/python-notebooks/blob/main/Misc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 9688 Churro Activity Date
https://platform.stratascratch.com/coding/9688-churro-activity-date?code_type=2

In [ ]:
result = (
    los_angeles_restaurant_health_inspections
        .query('score < 95 and facility_name == "STREET CHURROS"')
        [['activity_date', 'pe_description']]
)

# 10308 Salaries Differences
https://platform.stratascratch.com/coding/10308-salaries-differences?code_type=2

In [ ]:
max_salary = (
    db_employee
        .merge(db_dept, left_on='department_id', right_on='id')
        .groupby('department')
        ['salary']
        .max()
        .to_dict()
)

result = max_salary['marketing'] - max_salary['engineering']

# 9942 Largest Olympics
https://platform.stratascratch.com/coding/9942-largest-olympics?code_type=2

In [ ]:
result = (
    olympics_athletes_events
        .groupby('games', as_index=False)
        .agg(athletes_count=('id', 'nunique'))
        .nlargest(1, 'athletes_count')
)

# 9917 Average Salaries
https://platform.stratascratch.com/coding/9917-average-salaries?code_type=2

In [ ]:
result = (
    employee
        .assign(avg_salary=lambda df: df.groupby('department')['salary'].transform('mean'))
        [['department', 'first_name', 'salary', 'avg_salary']]
)