<a href="https://colab.research.google.com/github/VaasuDevanS/python-notebooks/blob/main/StrataScratch/Misc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 9688 Churro Activity Date
https://platform.stratascratch.com/coding/9688-churro-activity-date?code_type=2

In [ ]:
result = (
    los_angeles_restaurant_health_inspections
        .query('score < 95 and facility_name == "STREET CHURROS"')
        [['activity_date', 'pe_description']]
)

# 10308 Salaries Differences
https://platform.stratascratch.com/coding/10308-salaries-differences?code_type=2

In [ ]:
max_salary = (
    db_employee
        .merge(db_dept, left_on='department_id', right_on='id')
        .groupby('department')
        ['salary']
        .max()
        .to_dict()
)

result = max_salary['marketing'] - max_salary['engineering']

# 9942 Largest Olympics
https://platform.stratascratch.com/coding/9942-largest-olympics?code_type=2

In [ ]:
result = (
    olympics_athletes_events
        .groupby('games', as_index=False)
        .agg(athletes_count=('id', 'nunique'))
        .nlargest(1, 'athletes_count')
)

# 9917 Average Salaries
https://platform.stratascratch.com/coding/9917-average-salaries?code_type=2

In [ ]:
result = (
    employee
        .assign(avg_salary=lambda df: df.groupby('department')['salary'].transform('mean'))
        [['department', 'first_name', 'salary', 'avg_salary']]
)

# 9663 Find the most profitable company in the financial sector of the entire world along with its continent
https://platform.stratascratch.com/coding/9663-find-the-most-profitable-company-in-the-financial-sector-of-the-entire-world-along-with-its-continent?code_type=2

In [ ]:
result = (
    forbes_global_2010_2014
        .query('sector == "Financials"')
        .nlargest(1, 'profits')
        [['company', 'continent']]
)

# 10299 Finding Updated Records
https://platform.stratascratch.com/coding/10299-finding-updated-records?code_type=2

In [ ]:
result = (
    ms_employee_salary
        .sort_values('salary')
        .drop_duplicates('id', keep='last')
        .sort_values('id')
)

# 9894 Employee and Manager Salaries
https://platform.stratascratch.com/coding/9894-employee-and-manager-salaries?code_type=2

In [ ]:
result = (
    (df := employee[['id', 'first_name', 'manager_id', 'salary']])
        .merge(df[['id', 'salary']], left_on='manager_id', right_on='id')
        .query('salary_x > salary_y')
        [['first_name', 'salary_x']]
)

# 10354 Most Profitable Companies
https://platform.stratascratch.com/coding/10354-most-profitable-companies?code_type=2

In [ ]:
result = (
    forbes_global_2010_2014
        .nlargest(3, 'profits', keep='all')
        [['company', 'profits']]
)

# 9905 Highest Target Under Manager
https://platform.stratascratch.com/coding/9905-highest-target-under-manager?code_type=2

In [ ]:
result = (
    salesforce_employees
        .query('manager_id == 13')
        .nlargest(1, 'target', keep='all')
        [['first_name', 'target']]
)

# 10318 New Products
https://platform.stratascratch.com/coding/10318-new-products?code_type=2

In [ ]:
df = (
    car_launches
        .groupby(['year', 'company_name'], as_index=False)
        .count()
        .rename(columns={'product_name': 'product_count'})
)

result = (
    df
    .query('year == 2020')
    .merge(df.query('year == 2019'), on='company_name')
    .assign(net_difference=lambda df: df['product_count_x'] - df['product_count_y'])
    [['company_name', 'net_difference']]
)

# 9897 Highest Salary In Department
https://platform.stratascratch.com/coding/9897-highest-salary-in-department?code_type=2

In [ ]:
result = (
    employee
        .groupby('department', as_index=False)
        .agg({'salary': 'max'})
        .merge(employee[['first_name', 'salary']], on='salary')
)

# 10026 Find all wineries which produce wines by possessing aromas of plum, cherry, rose, or hazelnut
https://platform.stratascratch.com/coding/10026-find-all-wineries-which-produce-wines-by-possessing-aromas-of-plum-cherry-rose-or-hazelnut?code_type=2

In [ ]:
pattern = r"\b(cherry|plum|rose|hazelnut)\b"

result = (
    winemag_p1[
        winemag_p1['description'].str.contains(pattern, case=False)
    ]
    .drop_duplicates()
    ['winery']
)